* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: #313338;
    color: #dcddde;
}


.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background-color: #1e1f22;
    padding: 40px;
    border-radius: 8px;
    width: 320px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.login-card h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-card input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
}

.login-card button {
    width: 100%;
    padding: 10px;
    background-color: #5865f2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-card button:hover {
    background-color: #4752c4;
}

/* ===== CHAT PAGE ===== */

.chat-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 220px;
    background-color: #1e1f22;
    padding: 15px;
}

.sidebar h2 {
    margin: 0;
    color: #fff;
}

.chat-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
}

.chat-header {
    background-color: #2b2d31;
    padding: 15px;
    font-weight: bold;
}

.chat-box {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 0; 
}

.message {
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.message-content {
    overflow-wrap: anywhere;
    word-break: break-word;
}

.message span {
    font-weight: bold;
    color: #5865f2;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #2b2d31;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.chat-input button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #5865f2;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}